* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111;
  --primary-color: #c391f4;
  --grey: #808080;
  --red: #e44848;
  --font: "Nunito", sans-serif;

  font-family: var(--font);
}

body {
  width: 100%;
  min-width: 360px;
  background-color: var(--bg-color);
  color: #fff;
}

a {
  color: #fff;
}

button,
input,
textarea {
  font-family: var(--font);
}

input,
textarea {
  background-color: #2f2f2f;
  color: #fff;

  &::placeholder {
    color: #999;
  }
}

.loading-msg {
  text-align: center;
}

.error-msg {
  color: #ff6060;
}

.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

// CSS components
.btn {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 4px;
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--small {
    padding: 3px 6px;
    font-size: 0.65rem;
  }

  &--red {
    background-color: var(--red);
  }
}

.form {
  &__field > * {
    width: 100%;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
    font-size: 0.9rem;

    &:focus {
      outline: 2px solid var(--primary-color);
      border-color: transparent;
    }
  }
}

// login & register page
.login,
.register {
  max-width: 400px;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .error {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--red);
  }

  .btn {
    display: block;
    margin: 0 auto;
  }

  span {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
}
