* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111;
  --primary-color: #bb76ff;
  --primary-color: #ffb400;
  --grey: #808080;
  // --red: #e44848;
  --red: #ff7272;
  --font: "Nunito", sans-serif;

  font-family: var(--font);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  min-width: 360px;
  background-color: var(--bg-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px; // for vertical scroolbar
  height: 5px; // for horizontal scrollbar
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

a {
  color: #fff;

  &:hover {
    color: var(--primary-color);
  }
}

button,
input,
textarea {
  font-family: var(--font);
}

input,
textarea {
  background-color: #2f2f2f;
  color: #fff;

  &::placeholder {
    color: #999;
  }
}

.pill {
  border: 1px solid #fff;
  border-radius: 10000px;
}

.error-msg {
  color: var(--red);
  text-align: center;
}

#root {
  height: 100%;
}

.page {
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px 20px;

  // styles for the loader that will be displayed when loading page's contents
  > .loader {
    display: block;
    margin: 0 auto;
  }
}

// CSS components
.avatar {
  border-radius: 50%;
  border: 1px solid #333;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 4px;
  font-family: var(--font);
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  transition: background-color 300ms, opacity 300ms;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--primary-color);
    color: #000;
    opacity: 0.8;
  }

  &--small {
    padding: 3px 6px;
    font-size: 0.65rem;
  }

  &--stroked {
    border: 1px solid var(--primary-color);
    background: none;
    color: #fff;
  }

  &--red {
    background-color: var(--red);
  }
}

.form {
  &__field > * {
    width: 100%;
    margin-bottom: 1rem;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
    font-size: 0.9rem;

    &:focus {
      outline: 2px solid var(--primary-color);
      border-color: transparent;
    }
  }
}

#login-page,
#register-page {
  max-width: 400px;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .error-msg {
    margin-bottom: 1rem;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }

  span {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
}
