.home-page {
  .error-msg {
    font-weight: bold;
    text-align: center;
  }

  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    a {
      margin: 5px;
      padding: 4px 8px;
      border: 1px solid #fff;
      border-radius: 20px;
      font-size: 0.7rem;
      text-decoration: none;
      letter-spacing: 1pt;

      &.active {
        background-color: var(--primary-color);
        color: #000;
      }
    }
  }
}
