#home-page {
  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    a {
      margin: 5px;
      padding: 4px 8px;
      font-size: 14px;
      text-decoration: none;
      letter-spacing: 1pt;
      line-height: 1;
      font-weight: 500;
      text-transform: lowercase;

      &.active {
        background-color: var(--primary-color);
        color: #000;
      }
    }
  }
}
