.blog-list {
  > h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .blog-link {
    text-decoration: none;
  }

  .blog-preview {
    margin-bottom: 1rem;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.7);
    }

    &__title {
      line-height: 1;
    }

    &__body {
      margin: 5px 0;
      font-size: 0.9rem;
    }

    &__actions .btn {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
