#profile-page {
  padding-top: 24px;

  .user {
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__avatar {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    &__posts {
      margin-top: 10px;

      h3 {
        margin-bottom: 10px;
      }
    }
  }
}
