.navbar {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 2px #000;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  left: 0;

  .wrapper {
    max-width: 916px;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
  }

  h1 {
    color: var(--primary-color);
  }

  &__links {
    margin-left: auto;

    a {
      margin-right: 5px;
      padding: 6px 10px;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
      line-height: 1;

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
