#post-changes-page {
  .post {
    padding-bottom: 20px;
    margin: 0 auto;

    &__other-version {
      text-align: center;
      display: block;
      margin-bottom: 1rem;
    }

    &__cover {
      margin: 1rem 0;

      img {
        width: 100%;
        height: 220px;
        object-fit: cover;
      }
    }

    &__author {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
      }

      small {
        color: #9f9f9f;
      }
    }

    &__actions {
      align-self: flex-start;
      margin-left: 14px;

      > * {
        all: unset;
        cursor: pointer;
        margin-right: 5px;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &__category {
      margin-bottom: 1rem;
      color: var(--primary-color);
      font-size: 13px;
      letter-spacing: 0.5pt;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__body {
      white-space: pre-wrap;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 8px;
      }

      ul,
      ol {
        padding-left: 20px;
      }

      a {
        color: var(--primary-color);
      }

      p,
      .ql-syntax {
        margin-bottom: 14px;
      }

      .ql-syntax {
        padding: 10px;
        border-radius: 5px;
        background-color: #1b1b1b;
      }

      img {
        max-width: 100%;
      }
    }

    &__comments {
      border-top: 1px solid var(--grey);
      padding-top: 20px;

      > h2 {
        font-size: 19px;
      }

      > .form {
        margin-top: 16px;

        textarea {
          margin-bottom: 6px;
        }

        .error-msg {
          margin-bottom: 6px;
        }
      }

      .comment {
        margin-top: 16px;
      }

      .loader {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
