.login {
  max-width: 400px;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }

  .stay-away-msg {
    margin-top: 1rem;
    text-align: center;
  }
}
