.navbar {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 2px #000;
  margin-bottom: 1rem;

  .wrapper {
    max-width: 916px;
    margin: 0 auto;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    position: relative; // will be used for user options card
  }

  h1 a {
    text-decoration: none;
    color: var(--primary-color);
  }

  &__links {
    margin-left: auto;

    a {
      margin-right: 5px;
      padding: 6px 10px;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
      line-height: 1;

      &:hover {
        color: var(--primary-color);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .user-avatar {
    width: 28px;
    height: 28px;
    margin-left: 8px;
    cursor: pointer;
  }

  .user {
    $card-bg-color: #1b1b1b;
    width: 200px;
    padding: 16px;
    background-color: $card-bg-color;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 0px hsla(0, 0%, 0%, 0.14), 0px 3px 3px -2px hsla(0, 0%, 0%, 0.12),
      0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
    position: absolute; // relative to .wrapper
    top: calc(100% - 6px);
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;

    &--active {
      display: flex;
    }

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background-color: $card-bg-color;
      position: absolute; // relative to .user
      top: -7px;
      right: 17px;
      transform: rotateZ(45deg);
    }

    &__name {
      margin: 12px 0;
      text-decoration: none;
    }

    &__avatar {
      width: 96px;
      height: 96px;
      border-radius: 50%;
    }

    &__logout-btn {
      pointer-events: all;
    }
  }
}
